// -----------------------------------------------------------------------------
// loznotes is a notation layer for conveying information about wireframes, 
// mockups and design comps. Originally a fork, this now a complete rewrite of 
// Elliance's excellent Metaframe work (http://github.com/elliance/metaframe).
//
// ©2013-2014 Loz Gray – Creative Commons Attribution Sharealike 3.0 Unported 
// http://creativecommons.org/licenses/by-sa/3.0/
//
// Dependancies:
//
// jquery 2.x.x – for jQuery version
// loznotes--jquery.min.js or loznotes--javascript.min.js
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Table of contents
// --------------------------------------
// 1.0 imports
// 2.0 variables
// 3.0 general
// 4.0 type
// 5.0 layout
// 6.0 modules
// -----------------------------------------------------------------------------

// 1.0 imports
// -----------------------------------------------------------------------------
@import "library.less";
@import "breakpoints.less";

// 2.0 variables
// -----------------------------------------------------------------------------
@color--brand:#6b2323;
@color--highlight:spin(@color--brand, 180);

// 3.0 general
// -----------------------------------------------------------------------------

// 4.0 type
// -----------------------------------------------------------------------------
.loznotes__anchor {
	text-align:center;
	a:link, a:visited, a:hover {
		.font-size(14,32);
		font-family:@sans-serif;
		font-weight:bold;
		color:#fff;
		text-decoration:none;
	}
}

.loznotes__tab-pane {
	h1, h2, .loznotes__page-description, .loznote__count, .loznote__body, form {
		font-family:@sans-serif;
		font-weight:normal;
		color:#fff;	
	}
	h1 {
		.font-size(21,24);
		.margin-bottom(12);
		padding:0;
		background:none;
		@media (min-width:@medium) {
			.font-size(27,36);
			.margin-bottom(24);
		}
	}
	h2 {
		.font-size(18,24);
		.margin-bottom(12);
		background:none;
		@media (min-width:@medium) {
			.font-size(21,24);
			.margin-bottom(24);
		}
	}
	.loznotes__form {
		.font-size(14,20);
	}
}

.loznote__count {
	.font-size(14,32);
	font-weight:bold;
	text-align:center;
}

.loznote__count--is-selected {
	font-weight:bold;
	color:#fff;		
}

.loznotes__anchor--is-selected {
	a:link, a:visited, a:hover {
		.loznote__count--is-selected;
	}
}

.loznotes__page-description, .loznote__body {
	.font-size(14,20);
}

// 5.0 layout
// -----------------------------------------------------------------------------


// 6.0 modules
// -----------------------------------------------------------------------------
.loznote__count {
	@color:rgba(0,0,0,.35);
	display:block;
	width:32px;
	height:32px;
	background:@color--brand;
	.radius(16);
	.shadow(0px,2px,3px,@color);
	.box-sizing;
}

.loznotes__anchor { 
	a:link, a:visited, a:hover {
		.loznote__count;
	}
}

.loznotes__anchor {
	position:absolute;
	.margin(-8,0,0,-8);
}

.loznote__count--is-selected {
	background:@color--highlight;
}

.loznotes__anchor--is-selected {
	a:link, a:visited, a:hover {
		.loznote__count--is-selected;
	}
} 


.loznotes__tab-pane, .loznotes__tab-control {
	position:fixed;
	z-index:100;
}

@transition-bottom:bottom .2s ease;
@transition-right:right .2s ease;

.loznotes__tab-control {
	@radius:3;
	top:auto;
	right:auto;
	bottom:4px;
	left:50%;
	width:32px;
	height:24px;
	margin-left:-16px;
    background:url(../img/notes-h.png) center center no-repeat @color--brand;	
	.radius(@radius,@radius,0,0);	
	-webkit-transition:@transition-bottom;
	-moz-transition:@transition-bottom;
	-o-transition:@transition-bottom;
	transition:@transition-bottom;
	&--is-active {
		bottom:320px;
	}
	@media (min-width:@small-medium) {
		&--is-active {
			bottom:200px;
		}
	}
	@media (min-width:@medium) {
		top:50%;
		right:4px;
		bottom:auto;
		left:auto;
		width:17px;
		height:32px;
		.margin-top(-16);
	    background:url(../img/notes-v.png) center center no-repeat @color--brand;
		.radius(@radius,0,0,@radius);
		opacity:.90;
		-webkit-transition:@transition-right;
		-moz-transition:@transition-right;
		-o-transition:@transition-right;
		transition:@transition-right;
		&--is-active {
			right:340px;
		}
	}
}

.loznotes__tab-pane {
	top:auto;
	right:auto;
	bottom:-316px;
	width:100%;
	max-width:100%;
	height:320px;
	background:#000;
	.padding(10,10,10,10);
	border-top:4px solid @color--brand;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	.box-sizing;
	-webkit-transition:@transition-bottom;
	-moz-transition:@transition-bottom;
	-o-transition:@transition-bottom;
	transition:@transition-bottom;
	&--is-active {
		bottom:0;
	}
	@media (min-width:@small-medium) {
		bottom:-196px;
		height:200px;
		&--is-active {
			bottom:0;
		}
	}
	@media (min-width:@medium) {
		top:0;
		right:-336px;
		width:340px;
		height:100%;
		.padding(20,20,20,20);
		border:none;
		border-left:4px solid @color--brand;
		opacity:.90;
		overflow:auto;
		.box-sizing;
		-webkit-transition:@transition-right;
		-moz-transition:@transition-right;
		-o-transition:@transition-right;
		transition:@transition-right;
		&--is-active {
			right:0;
		}
	}
}

.loznotes__form {
	.margin-bottom(12);
	@media (min-width:@medium) {
		.margin-bottom(24);
	}
}

#loznotes__form__display-toggle {
	margin-right:5px;
}

.loznotes__page-description {
	.margin-bottom(24);
	padding:0;
}

.loznote__count {
	float:left;
	display:block;
}

.loznote__body {
	display:block;
	.margin-bottom(24);
	.padding-top(5);
	padding-left:44px;
}

.loznotes__anchor--is-hidden {
	display:none;
}